{% extends 'base_add.html' %}
{% block body %}
{% load bootstrap4  %}

    <script>
        $(document).ready(function() {
            $('#id_techer').select2();
        });
    </script>
</head>
<body>
 <div class="container">
 <h1>عدل بيانات فصل</h1>
 <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% comment %} <table>{{form.as_table}}</table> {% endcomment %}
            <button type="submit" class="btn btn-primary mt-3">عدل</button>
 </form>
 </div>
 {% endblock body %}